.sub_nav,
.main_nav,
.main,
.section,
.footer {
  min-width: 1200px;
}
/*轮播内容*/
.main {
  position: relative;
}
.main .banner a {
  position: absolute;
  top: 0;
  left: 0;
}
.main .banner:before {
  content: '';
  clear: both;
  display: block;
}
.main .banner:after {
  content: '';
  clear: both;
  display: block;
  height: 480px;
}
.main > a {
  position: absolute;
  top: 207px;
  display: block;
  width: 66px;
  height: 66px;
  background: url("../images/index_spr.png");
  background-repeat: no-repeat;
}
.main .prev {
  left: 218px;
  background-position: -241px -559px;
}
.main .next {
  right: 218px;
  background-position: -314px -559px;
}
/*详情内容区域*/
.section {
  width: 100%;
  margin-top: 46px;
}
.section h1 {
  text-align: center;
}
/*四大优势*/
.sec_advs .container {
  position: relative;
}
.sec_advs .item {
  float: left;
  width: 585px;
  height: 148px;
  overflow: hidden;
  margin-right: 30px;
  margin-top: 20px;
}
.sec_advs .item span {
  display: block;
  width: 152px;
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
}
.sec_advs .item > div {
  color: #FFD9D9;
}
.sec_advs .item > div h3 {
  margin-top: 40px;
  line-height: 40px;
  font-size: 24px;
}
.sec_advs .item1 span,
.sec_advs .item3 span,
.sec_advs .item1 > div,
.sec_advs .item3 > div {
  float: left;
  margin-right: 28px;
}
.sec_advs .item2 span,
.sec_advs .item4 span,
.sec_advs .item2 > div,
.sec_advs .item4 > div {
  float: right;
  margin-left: 28px;
}
.sec_advs .item1 {
  background-color: #FF4B4C;
}
.sec_advs .item1 span {
  background-color: #E93134;
  background-image: url("../images/adv_pic_01.png");
}
.sec_advs .item2 {
  margin-right: 0;
  background-color: #35CC8C;
}
.sec_advs .item2 span {
  background-color: #24B476;
  background-image: url("../images/adv_pic_02.png");
}
.sec_advs .item3 {
  background-color: #FFA800;
}
.sec_advs .item3 span {
  background-color: #D98E00;
  background-image: url("../images/adv_pic_03.png");
}
.sec_advs .item4 {
  margin-right: 0;
  background-color: #34C5FA;
}
.sec_advs .item4 span {
  background-color: #15A8DD;
  background-image: url("../images/adv_pic_04.png");
}
.sec_advs i {
  position: absolute;
  top: 136px;
  left: 498px;
  display: block;
  width: 200px;
  height: 200px;
  background: url('../images/adv_cir.png') center center no-repeat;
}
/*六大系统*/
.sec_sys .con {
  overflow: hidden;
  margin: 46px auto 0;
  padding-left: 128px;
  border-bottom: 1px solid #FF4B4C;
}
.sec_sys .con a {
  float: left;
  width: 110px;
  margin-right: 55px;
  position: relative;
}
.sec_sys .con a span {
  display: block;
  width: 110px;
  height: 110px;
  background-image: url("../images/index_spr.png");
  background-repeat: no-repeat;
}
.sec_sys .con a span.c1 {
  background-position: 0 -150px;
}
.sec_sys .con a span.c2 {
  background-position: -115px -150px;
}
.sec_sys .con a span.c3 {
  background-position: -249px -150px;
}
.sec_sys .con a span.c4 {
  background-position: -369px -150px;
}
.sec_sys .con a span.c5 {
  background-position: 0 -405px;
}
.sec_sys .con a span.c6 {
  background-position: -114px -405px;
}
.sec_sys .con a:hover span.c1 {
  background-position: 0 -272px;
}
.sec_sys .con a:hover span.c2 {
  background-position: -115px -272px;
}
.sec_sys .con a:hover span.c3 {
  background-position: -239px -272px;
}
.sec_sys .con a:hover span.c4 {
  background-position: -369px -272px;
}
.sec_sys .con a:hover span.c5 {
  background-position: 0 -541px;
}
.sec_sys .con a:hover span.c6 {
  background-position: -115px -541px;
}
.sec_sys .con a:hover i {
  position: absolute;
  left: 48px;
  bottom: -1px;
  z-index: 1000;
  display: block;
  width: 13px;
  height: 7px;
  background: url("../images/index_spr.png") -419px -415px no-repeat;
}
.sec_sys .con a.active span.c1 {
  background-position: 0 -272px;
}
.sec_sys .con a.active span.c2 {
  background-position: -115px -272px;
}
.sec_sys .con a.active span.c3 {
  background-position: -239px -272px;
}
.sec_sys .con a.active span.c4 {
  background-position: -369px -272px;
}
.sec_sys .con a.active span.c5 {
  background-position: 0 -541px;
}
.sec_sys .con a.active span.c6 {
  background-position: -115px -541px;
}
.sec_sys .con a.active i {
  position: absolute;
  left: 48px;
  bottom: -1px;
  z-index: 1000;
  display: block;
  width: 13px;
  height: 7px;
  background: url("../images/index_spr.png") -419px -415px no-repeat;
}
.sec_sys .con a p {
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: #333;
}
.sec_sys .intro div {
  display: none;
  padding-top: 14px;
}
.sec_sys .intro div h2 {
  text-align: center;
  font-size: 18px;
  color: #717171;
  line-height: 52px;
}
.sec_sys .intro div p {
  width: 880px;
  margin: 0 auto;
  font-size: 14px;
  color: #676767;
  text-align: center;
  line-height: 26px;
}
/*走进创富宝*/
.sec_ent {
  width: 100%;
  max-width: 100%;
  height: 572px;
  background: url("../images/ent_03.png") center center no-repeat;
  color: #fff;
}
.sec_ent .sec_t_header {
  padding-top: 128px;
  overflow: hidden;
  height: 36px;
  line-height: 36px;
}
.sec_ent .sec_t_header h2 {
  float: left;
  font-size: 20px;
}
.sec_ent .sec_t_header h2 span {
  padding-left: 30px;
  background: url("../images/index_spr.png") -474px -405px no-repeat;
}
.sec_ent .sec_t_header h2 em {
  font-size: 14px;
}
.sec_ent .sec_t_header ul {
  float: right;
  overflow: hidden;
  margin-right: 40px;
}
.sec_ent .sec_t_header ul li {
  float: left;
  width: 126px;
  height: 34px;
  text-align: center;
  border: 1px solid #A7A7A7;
  border-collapse: collapse;
}
.sec_ent .sec_t_header ul li a {
  color: #fff;
  font-size: 18px;
}
.sec_ent .sec_t_header ul li:hover {
  background-color: #FF4B4C;
}
.sec_ent .sec_t_header ul li.active {
  background-color: #FF4B4C;
}
.sec_ent .sec_t_body {
  margin-top: 18px;
}
.sec_ent .sec_t_body img {
  float: left;
  margin-right: 50px;
}
.sec_ent .sec_t_body p {
  font-size: 14px;
  text-indent: 2em;
  line-height: 28px;
  margin-right: 30px;
}
.sec_ent .sec_t_body a.more {
  display: block;
  float: right;
  margin-top: 30px;
  margin-right: 25px;
  width: 175px;
  height: 43px;
  background: url("../images/index_spr.png") -103px -89px no-repeat;
}
/*消费全额赠送*/
.sec_com p {
  margin-top: 58px;
}
/*新闻资讯*/
.sec_news {
  padding-bottom: 60px;
}
.sec_news .left {
  float: left;
  margin-top: 40px;
  width: 575px;
}
.sec_news .left img {
  display: block;
  width: 100%;
}
.sec_news .left h4 {
  font-size: 18px;
  color: #050505;
  line-height: 40px;
}
.sec_news .left p {
  font-size: 14.33px;
  color: #313131;
  text-indent: 2em;
  line-height: 24px;
}
.sec_news .left .more {
  display: block;
  margin-top: 30px;
  margin-right: 25px;
  width: 175px;
  height: 43px;
  background: url("../images/index_spr.png") -103px -89px no-repeat;
}
.sec_news .right {
  float: right;
  margin-top: 10px;
  width: 575px;
}
.sec_news .right a {
  display: block;
  width: 100%;
  margin-top: 26px;
  padding-bottom: 15px;
  overflow: hidden;
  border-bottom: 1px solid #E9E9E9;
}
.sec_news .right a div {
  float: left;
  width: 70px;
  height: 70px;
  margin-top: -8px;
}
.sec_news .right a div i {
  text-align: center;
  height: 44px;
  font-size: 44px;
  color: #BDBDBD;
  font-weight: 700;
}
.sec_news .right a div em {
  font-size: 16px;
  color: #BDBDBD;
}
.sec_news .right a h3 {
  font-size: 18px;
  color: #1F1F1F;
  line-height: 28px;
}
.sec_news .right a p {
  font-size: 14px;
  text-indent: 2em;
  color: #666;
  line-height: 24px;
}
