/*.section {
  margin-top: 58px;
  margin-bottom: 36px;
}
.sec_header {
  border-bottom: 1px solid #666;
  overflow: hidden;
}
.sec_header .left {
  float: left;
  overflow: hidden;
}
.sec_header .left li {
  float: left;
  width: 125px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  border: 1px solid #666;
  border-bottom: none;
  margin-right: 10px;
}
.sec_header .left li a {
  color: #383838;
  font-size: 16px;
}
.sec_header .left li:hover {
  background-color: #3498DB;
}
.sec_header .left li:hover a {
  color: #fff;
}
.sec_header .left li.active {
  background-color: #3498DB;
}
.sec_header .left li.active a {
  color: #fff;
}
.sec_header .right {
  float: right;
  overflow: hidden;
}
.sec_header .right li {
  float: left;
  font-size: 14px;
}
.sec_header .right li:last-child {
  color: #3498db;
}*/
.section {
  margin-top: 58px;
  margin-bottom: 36px;
}
.sec_header {
  border-bottom: 1px solid #666;
  overflow: hidden;
}
.sec_header .left {
  float: left;
  overflow: hidden;
}
.sec_header .left li {
  float: left;
  width: 125px;
  height: 31px;
  line-height: 31px;
  text-align: center;
  border: 1px solid #666;
  border-bottom: none;
  margin-right: 10px;
}
.sec_header .left li a {
  color: #383838;
  font-size: 16px;
}
.sec_header .left li:hover {
  background-color: #3498DB;
}
.sec_header .left li:hover a {
  color: #fff;
}
.sec_header .left li.active {
  background-color: #3498DB;
}
.sec_header .left li.active a {
  color: #fff;
}
.sec_header .right {
  float: right;
  overflow: hidden;
}
.sec_header .right li {
  float: left;
  font-size: 14px;
}
.sec_header .right li i{
  padding-left: 8px;
  padding-right: 8px;
}
.sec_header .right li:last-child {
  color: #3498db;
}
.sec_body .container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}
.sec_body h1 {
  font-size: 30px;
  line-height: 50px;
  color: #949494;
}
.sec_body h1 em {
  color: #5AA7E0;
}
.sec_body h2 {
  font-size: 24px;
  margin-bottom: 25px;
  color: #202020;
}
.sec_body h3 {
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}
.sec_body span {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #3B3B3B;
}
.sec_body p {
  font-size: 14px;
  text-indent: 2em;
  color: #3D3D3D;
  line-height: 26px;
}

